<div class="container_clients">
  <div class = "container_clients__menu">
    <ul class="nav flex-column">
      <li class="nav-item">
          <img src = "../assets/img/logo.jpg"  class="nav-link">
      </li>
      <li class="nav-item"  href="#">
        <fa-icon [icon]="faUser"></fa-icon>Clients
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Client look history</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emergency ping configuration</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Emergency ping history</a>
        </li>
    </ul>
  </div>
</div>
